In [2]:
import numpy as np
import pandas as pd

collegedatacondensed = pd.read_csv('CollegeDataCondensed.csv')
collegedatacondensed.head()

,INSTNM,CITY,STABBR,ZIP,INSTURL,LATITUDE,LONGITUDE,ADM_RATE,SAT_AVG_ALL
0,Alabama A & M University,Normal,AL,35762,www.aamu.edu/,34.783368,-86.568502,0.6538,850.0
1,University of Alabama at Birmingham,Birmingham,AL,35294-0110,www.uab.edu,33.502230,-86.809170,0.6043,1147.0
2,Amridge University,Montgomery,AL,36117-3553,www.amridgeuniversity.edu,32.362609,-86.174010,NaN,NaN
3,University of Alabama in Huntsville,Huntsville,AL,35899,www.uah.edu,34.722818,-86.638420,0.8120,1221.0
4,Alabama State University,Montgomery,AL,36104-0271,www.alasu.edu,32.364317,-86.295677,0.4639,844.0

In [7]:

print('College Finder- Find your ideal college!')
#School,GPA,Score_ACT,Score_SAT,Size,Region

#import pandas
#import numpy 
#school data = read api csv file
name = input('What is your name? ')

SATScore = input("%s, what did you get on your SATs ?" %name)
SATScore = float(SATScore) + 200
#Add 200 points to account for standard deviation of test scores

college1 = collegedatacondensed['SAT_AVG_ALL']<SATScore
college1

College Finder- Find your ideal college!
What is your name? Sam
Sam, what did you get on your SATs ?1000

0        True
1        True
2       False
3       False
4        True
5        True
6       False
7       False
8        True
9       False
10       True
11      False
12      False
13      False
14      False
15      False
16       True
17      False
18      False
19      False
20      False
21      False
22      False
23       True
24       True
25      False
26       True
27      False
28      False
29      False
        ...
7563    False
7564    False
7565    False
7566    False
7567    False
7568    False
7569    False
7570    False
7571    False
7572    False
7573    False
7574    False
7575    False
7576    False
7577    False
7578    False
7579    False
7580    False
7581    False
7582    False
7583    False
7584    False
7585    False
7586    False
7587    False
7588    False
7589    False
7590    False
7591    False
7592    False
Name: SAT_AVG_ALL, Length: 7593, dtype: bool